/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-size: 14px;
	font-family: 'Work Sans' ;
}

.mainContainer { /** Changé le body en mainContainer pour le mode edition **/
	max-width: 1140px;
	margin:auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.onThePage{ /** Ajouté **/
	font-weight: 700;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li img  {/** Ajouté pour reduire la taille de l'icône instagram **/
	width: 22px;
	height: 22px;
}

nav li a {
	text-decoration: none;
	color: black;
}

li:hover,
li a:hover, /** Ajouté **/
#logIn a:hover /** Ajouté **/ {
	color: #B1663C;
	cursor: pointer; /** Ajouté **/
	font-weight: 700; /** Ajouté **/
}
#introduction {
	display: flex;
	align-items: center;
	margin: 120px auto; /** Ajouté **/
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	max-height: 490px;
	height: 90%;
	object-fit: cover;

}

#logIn { /** Ajout des elements de formulaire LogIn**/
	width: 50%;
	margin: 150px auto 296px auto;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > *,
#logIn {
	text-align: center;

}
#contact h2,
#logIn h2 {
	margin-bottom: 20px;
}
#contact form,
#logIn form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input,
#logIn input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#logIn label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#logIn a {
	color: black;
	;
}
input[type="submit"],
.addPictureButton /** Ajouté **/{
	border: none;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 36px; /** Ajouté **/
	text-align: center;
	border-radius: 60px ;
	cursor: pointer; /** Ajouté **/
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** CSS filtres **/
.filters {
	display: flex;
	justify-content: center;
	margin: 60px auto;
}

.filtersBtn {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-color: white;
	padding: 6px 8px;
	margin: 5px;
}

.filtersBtn:hover,
.filtersBtnSelected {
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

/** CSS page de connexion (login)**/
.error {
	color: rgb(204, 28, 28);
}

/** CSS page d'accueil connecté**/
.black-headband{
	width: 100%;
	height: 59px;
	background-color: black;
	color: white;
	font-family: 'Work Sans';
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	display: none;
}

.editionModeIcone {
	margin-right: 8px;
}

.editionGallery {
	position: relative;
}

.editionGallery h2 {
	margin-right: 20px;
}

.modifyBtn {
	border: none;
	background-color: inherit;
	color: black;
	cursor: pointer;
	font-family: 'Work Sans';
	font-size: 14px;
	position: absolute;
	right: 33%;
	top: 6px;
	display: none;
}

.modifyBtn a {
	text-decoration: none;
	color: black;
}

/** CSS fenêtre modale**/
.modal {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

/**CSS commun aux 2 modales **/
.modalGallery, .modalAddPictureForm {
	background-color: white;
	width: 630px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	position: relative;
	padding-bottom: 20px;
}

.previousModal {
	position: absolute;
	left: 30px;
	top: 30px;
	cursor: pointer;
}

.closeModal {
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
}

.modalTitle {
	font-size: 26px;
	margin-top: 60px;
}

hr {
	border: solid 1px #b3b3b3;
	width: 70%;
}

.formLine {
	width: 100%;
}

/**CSS modale mini galerie et suppression d'images **/
.miniGallery {
	margin: 40px 100px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	gap: 10px;
}

.miniPictureGallery {
	width: 78px;
	height: 104px;
}

.deletePictureBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 17px;
	width: 17px;
	background-color: black;
	color: white;
	border-radius: 3px;
	position: relative;
	left: 70%;
    bottom: 82%;
	cursor: pointer;
}

.addPictureButton {
	width: 237px;
}

/**CSS modale formulaire ajout photo **/
form {
	display: flex;
	flex-direction: column;
}

.blocToAddPicture {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
  	border-radius: 3px;
  	background: #E8F1F6;
	margin-top: 36px;
	height: 169px;
}

.formPicturePreview {
	height: 169px;
	width: 129px;
	object-fit: cover;
}

.labelPicturePreview {
	cursor: pointer;
}

.iconeFormPicture {
	color: #CBD6DC;
	font-size: 70px;
	margin-top: 18px;
}

.addPictureBtn {
	width: 173px;
	padding: 10px;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	background: #CBD6DC;
	color: #306685;
	margin-top: 6px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
}

.pictureBtnHidden {
	opacity: 0;
	height: 0;
}

.formatIndication {
	color: black;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 7px;
}
  
.titleFormLabel {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #3D3D3D;
	line-height: 16px;
	font-weight: 500;
}

#pictureTitle, #categoryName {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background: #FFF;
	width: 420px;
	height: 51px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	color: #444444;
}
 
#categoryName {
	margin-bottom: 40px
}
  
.submitBtn {
	margin : 35px auto;
	width: 237px;
  	height: 36px;
	border-radius: 60px;
	border: none;
	color: #FFF;
	background-color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	cursor: pointer;
}

.btnDisabled {
	background-color: #A7A7A7;
	cursor: default;
}
